main {
  flex: 1;
  background-color: #f2f2f2;
}

.mainImage img {
  object-fit: cover;
  width: 100%;
  height: 1000px;
}

.profile-items {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 0 auto;
}

.portfolio-image {
  cursor: pointer;
  display: block;
}

.profileImage img {
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 40% 70% 50% 30%/50%;
  box-shadow: 5px 5px 4px gray;
  margin-top: 50px;
  margin-bottom: 20px;
}

.profile-text {
  margin: 150px 20px;
  text-align: center;
}

.profile-text h3 {
  font-size: 40px;
  font-weight: normal;
}

.profile-text p {
  font-size: 30px;
  margin-top: 30px;
}

.github-link {
  background-color: black;
  width: 280px;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 3px 3px 2px gray;
}

.github-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-text p {
  font-size: 15px;
  color: #f2f2f2;
  font-weight: bold;
}

.github-image img {
  width: 50px;
  height: 100%;
  padding-left: 10px;
  display: block;
}

/* TABLET SIZE ======================================================= */
@media (max-width: 1200px) {
  .mainImage img {
    height: 600px;
  }

  .profile-items {
    text-align: center;
    max-width: fit-content;
  }

  .profileImage img {
    height: 350px;
    width: 350px;
  }

  .profile-text {
    align-items: center;
    padding-left: 30px;
  }

  .profile-text h3 {
    font-size: 35px;
  }

  .profile-text p {
    margin-top: 20px;
    font-size: 20px;
  }
}

/* MOBILE SIZE ======================================================== */
@media (max-width: 420px) {
  .mainImage img {
    height: 600px;
  }

  .profile-items {
    display: block;
    text-align: center;
    max-width: fit-content;
  }

  .profileImage img {
    height: 200px;
    width: 200px;
  }

  .profile-text {
    margin: 20px;
    padding: 0;
  }

  .profile-text h3 {
    font-size: 20px;
  }

  .profile-text p {
    margin-top: 20px;
    font-size: 12px;
  }
}
