.portfolio-contents {
  width: 100%;
}

.portfolio-date {
  margin: 120px 40px 10px 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.portfolio-date img {
  width: 550px;
  height: 400px;
  object-fit: cover;
  box-shadow: 2px 3px 4px gray;
  border-radius: 5%;
  margin-top: 5px;
}

.portfolio-text {
  background: white;
  padding: 70px 50px 0 50px;
  box-shadow: 3px 5px 4px gray;
  border-radius: 45%;
  width: 330px;
  height: 300px;
}

.portfolio-text h4 {
  font-size: 30px;
}

.portfolio-text p {
  margin-top: 40px;
}

/* TABLET SIZE ======================================================= */
@media (max-width: 1200px) {
  .portfolio-date {
    margin-top: 150px;
    margin-bottom: 80px;
    text-align: center;
  }

  .portfolio-date img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 5%;
  }

  .portfolio-text {
    background: white;
    padding: 30px 20px;
    box-shadow: 3px 5px 4px gray;
    border-radius: 45%;
    width: 350px;
    height: 200px;
    margin-left: 20px;
  }

  .portfolio-text h4 {
    font-size: 18px;
  }

  .portfolio-text p {
    margin-top: 15px;
  }
}

/* MOBILE SIZE ======================================================== */
@media (max-width: 420px) {
  .portfolio-date {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    display: block;
    justify-content: start;
  }

  .portfolio-date img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 5%;
  }

  .portfolio-text {
    background: white;
    padding: 30px 20px 0 20px;
    box-shadow: 3px 5px 4px gray;
    border-radius: 45%;
    width: 250px;
    height: 180px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .portfolio-text h4 {
    font-size: 18px;
  }

  .portfolio-text p {
    margin-top: 30px;
  }
}
