#top-button {
  border: none;
  position: fixed;
  right: 100px;
  bottom: 120px;
  border-radius: 50%;
  transition: all 3s ease-in-out;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  height: 90px;
  width: 100px;
  animation-duration: 1s;
  animation-name: fadeInAnime;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#top-buttonOut {
  border: none;
  position: fixed;
  right: 100px;
  bottom: 120px;
  border-radius: 50%;
  transition: all 3s ease-in-out;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100px;
  animation-duration: 1s;
  opacity: 0;
  animation-name: fadeOutAnime;
}

@keyframes fadeOutAnime {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#top-button img {
  height: 100px;
  width: 100px;
}

#top-buttonOut img {
  height: 100px;
  width: 100px;
}

#top-button img:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.show-button {
  display: block;
  /* opacity: 1; */
  /* transform: scale(1); */
}

/* TABLET SIZE ======================================================= */
@media (max-width: 1200px) {
  #top-button {
    bottom: 60px;
    height: 60px;
    width: 60px;
    right: 50px;
    bottom: 100px;
  }
  #top-button img {
    height: 60px;
    width: 60px;
  }
}
/* MOBILE SIZE ======================================================== */
@media (max-width: 420px) {
  #top-button {
    bottom: 60px;
    height: 50px;
    width: 50px;
    right: 20px;
    bottom: 100px;
  }
  #top-button img {
    height: 50px;
    width: 50px;
  }
}
